@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MustafaSalah's Project Wishes a happy Project'</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Full Stack Road To Complete !</a>.</p>
</div>
